GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=

# Credenciais iniciais do Administrador (DataSeeder)
ADMIN_EMAIL=admin@exemplo.com # Substitua por um email válido
ADMIN_PASSWORD=senha_exemplo_123 # Substitua por uma senha segura